body {background-color: #ccccbb}
h1 {font-size: 24pt; font-family: arial}
h2 {font-size: 18pt; font-family: braggadocio}
h3 {font size:14pt; font-family: desdemona}
tr.google-gap {height:100px}
td.google-gap {width:20px}
table.menu, td.menu
{
	border-color: #600;
	border-style: solid;
}
table.menu
{
	width: 780px;
	border-width: 0 0 2px 2px;
	border-spacing: 0;
	border-collapse: collapse;
}
td.menu
{
	text-align: center;
	margin: 0;
	padding: 2px;
	border-width: 2px 2px 0 0;
}
td.flag
{
	width: 117px;
	height: 100px;
	text-align: center;
	background-color: #666666;
}
